
/* Slides
 ====================================================*/
section,
.bespoke-slide {
    display: table;
    position: static;
    page-break-after: always;
    width: 100%;
    height: 100vh;
}

@page {
    margin: 0;
}

section .printComment {
    display: block;
    margin-top: 6em;
    color: #E0E0E0;
    font-style: italic;
    text-align: center;
}